.cta-section {
  background-color: $red;
  color: $white;
  width: 100%;
  border-radius: 12px;
  padding: 48px 48px;
  transform: translateY(-40px);
  margin-bottom: -40px;

  @include breakpoint(tablet) {
    max-width: 399px;
    position: absolute;
    top: 55%;
    left: 300px;
    margin-bottom: 86px;
  }
}

.cta-section-box {
  max-width: 302px;
}

.cta-section h2 {
  margin-bottom: 12px;

  @include breakpoint(tablet) {
    font-size: 32px;
  }
}

.cta-section-box p {
  margin-bottom: 36px;

  @include breakpoint(tablet) {
    font-size: 18px;
    line-height: 28px;
  }
}

.cta-section__price-box {
  height: 52px;
  position: relative;
  margin-bottom: 32px;
}

.cta_section__price {
  height: 52px;
}

.price-main {
  font-size: 65px;
  font-weight: 700;
}

.price-month {
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 33%;
  // transform: translateY(-70%);
}
