body {
  // background-size: contain;
  background-image: url(/assets/bg-main-mobile.png);
  background-position: top -250px left 25px;
  background-repeat: no-repeat;
}

.logo {
  padding-top: 40px;
  margin-bottom: 64px;
}

.header-title {
  margin-bottom: 20px;
}

header p {
  margin-bottom: 166px;
}
