body {
  // background-size: contain;
  background-image: url(/assets/bg-main-mobile.png);
  background-position: top -250px left 25px;
  background-repeat: no-repeat;

  @include breakpoint(tablet) {
    background-image: url(/assets/bg-pattern-1.svg),
      url(/assets/bg-main-tablet.png);
    background-position: top -45px right -45px, top -175px right -375px;
  }
}

.logo {
  padding-top: 40px;
  margin-bottom: 64px;

  @include breakpoint(tablet) {
    margin-bottom: 95px;
  }
}

.header-title {
  margin-bottom: 20px;

  @include breakpoint(tablet) {
    font-size: 64px;
    line-height: 64px;
    letter-spacing: -0.73px;
    max-width: 520px;
    margin-bottom: 28px;
  }
}

header p {
  margin-bottom: 166px;

  @include breakpoint(tablet) {
    font-size: 18px;
    line-height: 28px;
    max-width: 455px;
  }
}
