.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
  margin-bottom: 64px;
}

.gallery img {
  display: inline-block;
  width: 100%;
  max-width: 151px;
  border-radius: 8px;
}
